body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background: #f2f2f2;
    
}

h1 {
    color: #333;
    text-align: center;
}

#visualization {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
}

.check_box 
{
    display: flex;
    gap: 7px;
    padding: 10px;
}

#map{
    width: 80%;
    height: 75vh;
    border: 1px solid #ccc;
    padding: 20px;
}



.bar {
    fill: steelblue;
}