<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Homework #3: Global Developments</title>
        <link rel="icon" type="image/x-icon" href="./dino_icon.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="./styles.css">
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="./vnolas23.js" defer></script>
    </head>
    <body>
        <div class="myContainer">
            <h1 class="text-center">Basemap</h1>
            <div id="visualization">
                <form>
                    <input type="radio" id="all" name="buildingType" value="all" checked>
                    <label for="all">All</label><br>
                    <input type="radio" id="school" name="buildingType" value="School">
                    <label for="school">School</label><br>
                    <input type="radio" id="apartment" name="buildingType" value="Apartment">
                    <label for="apartment">Apartment</label><br>
                    <input type="radio" id="pub" name="buildingType" value="Pub">
                    <label for="pub">Pub</label><br>
                    <input type="radio" id="restaurant" name="buildingType" value="Restaurant">
                    <label for="restaurant">Restaurant</label>
                  </form>
                <svg width = "1000" height = "900">

                </svg>
            </div>
        </div>
</html>